@*@model IEnumerable<MyModel>

    @*{
        ViewBag.Title = "Contact";
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mesage)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mesage)
                </td>
            </tr>
        }
    </table>
*@

@model MyModel 

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mesage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mesage)
        </dd>

    </dl>
</div>
<p>

    
    @Html.ActionLink("Sorğu göndər", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listə qayıt", "About")
</p>
